apiVersion: v1
kind: Service
metadata:
  labels:
    app: backend-api
  name: backend-api-service
  namespace: backend-api
spec:
  ports:
  - name: 8080-8080
    port: 8080
    protocol: TCP
    targetPort: 8000
  selector:
    app: backend-api
  type: ClusterIP